{% load static %}

<! DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'rest_mng/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Adding Jquery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    </head>
    <body>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Navigation bar -->
        <nav class="nav">
            <ul id="nav_list">
                <li class="list_item">
                    <a class="list_link" href="{% url 'index' %}">Home </a>
                </li>

            </ul>

        </nav>



    <h1><bold>Admin</bold></h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div id="row_1">
        <div id="new_orders"><h2 style="text-decoration:underline">New Orders</h2>
            {% for order in orders %}
            {% if order.status == 'Preparing' %}
                <div class="product" style="padding:10px 40px;">
                    <h5>Order ID: {{ order.id }}</h5>
                    <p>Date: {{ order.date }}</p>
                    <p>Total Price: ${{ order.total_price }}</p>
                    <h5>Items</h5>
                    <ul>
                        {% for item in order.items.all %}
                        <li>{{ item.product.prod_name }} (x{{ item.quantity }}) - ${{ item.price }}</li>
                        {% endfor %}
                    </ul>
                    <button class="update-status btn btn-primary" data-order-id="{{ order.id }}">Ready</button>
                </div>
            {% endif %}
            {% endfor %}

        </div>

        <div id="to_collect"><h2 style="text-decoration:underline">Ready To Collect</h2>
            {% for order in orders %}
            {% if order.status == 'Ready' %}
                <div class="product" style="padding:10px 40px;">
                    <h5>Order ID: {{ order.id }}</h5>
                    <h5>Items</h5>
                    <ul>
                        {% for item in order.items.all %}
                        <li>{{ item.product.prod_name }} (x{{ item.quantity }}) - ${{ item.price }}</li>
                        {% endfor %}
                    </ul>
                    <button class="collected btn btn-success" data-order-id="{{ order.id }}">Collected</button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div id="row_2">
    <div id="reservations"><h2>Reservations</h2>
    {% for reservation in reservations %}

        <p>Name: {{reservation.user}}</p>
        <p>Date: {{reservation.date}} at {{reservation.time}}</p>
        <p>Nr. of tables: {{reservation.num_tables}}</p>
        <br><br>

    {% endfor %}
    </div>

    <div id="create_new">
        <h2>Create New Product</h2>

        <form action="{% url 'new_product' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="prod_name">Product Name:</label><br>
        <input type="text" id="prod_name" name="prod_name" maxlength="15" required><br><br>

        <label for="prod_desc">Product Description:</label><br>
        <textarea id="prod_desc" name="prod_desc" maxlength="255" required></textarea><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" max="999.99" required><br><br>

        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="Soft Drink">Soft Drink</option>
            <option value="Alcohol Drink">Alcohol Drink</option>
            <option value="Food">Food</option>
        </select><br><br>

        <label for="image">Product Image:</label>
        <input type="file" id="image" name="image" accept="image/*" class="btn btn-info"><br><br>

        <button type="submit" class="btn btn-primary">Create product</button>
    </form>
    </div>
    </div>


    <!-- Stock container -->
    <div id="stock">
    <h2 align="center" style="margin:30px 0px;"> Stock management</h2>
        {% for product in products %}
        <div class="product">

                {% if product.image %}
                <img src="{{ product.image.url }}" alt="Product Image" style="width:auto; height: 50px;">
                {% else %}
                <p>No image available</p>
                {% endif %}

                <strong style="margin-left: 10px;">{{ product.prod_name }}</strong>
                <span> {{ product.prod_desc }}</span>

                <h5 style="margin-top: 20px; color:blue;">£{{ product.price }}</h5>

                <div>
                    In stock: {{ product.in_stock }}
                    <form method="POST" action="{% url 'toggle_stock' product.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Toggle Stock</button>
                    </form> <br><br>
                    Delete this produc:
                    <form method="POST" action="{% url 'delete_product' product.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this product?')" class="btn btn-danger">Delete</button>
                    </form>
                </div>


        </div>
        {% endfor %}
    </div>



<script>


    // Update order status for 'Preparing' -> 'Ready'
    $(document).on('click', '.update-status', function() {
        const orderId = $(this).data('order-id');
        $.post(`/update_order_status/${orderId}/`, {}, function(response) {
            if (response.status === 'success') {
                location.reload(); // Refreshes the page
            } else {
                alert('Failed to update order status: ' + response.message);
            }
        });
    });

    // Update order status for 'Ready' -> 'Collected'
    $(document).on('click', '.collected', function() {
        const orderId = $(this).data('order-id');
        $.post(`/update_order_status/${orderId}/`, {}, function(response) {
            if (response.status === 'success') {
                location.reload(); // Refreshes the page
            } else {
                alert('Failed to update order status: ' + response.message);
            }
        });
    });
</script>


    </body>
    </html>