{% extends "rest_mng/layout.html" %}
{% load static %}

{% block body %}
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>

    <!-- This one is for reviews submit message  -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if forloop.last %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

   <div id="categories">  <h3> Categories </h3>

    {% for category in products_by_category %}
       <div class="category" onclick="goTo('{{category}}')"><p style="font-size: 30px; font-weight: 500; ">{{ category }}</p></div>

   {% endfor %}
   </div>


    <h3>Best Sellers</h3>
   <div id="best_sellers">
        {% for category, product in most_sold_items.items %}
        <div class="best-seller-item">
            <h3>{{ product.prod_name }}</h3><br>
            <p>Description: {{ product.prod_desc }}</p>
            <p>Price: ${{ product.price }}</p>
            <img src="{{ product.image.url }}" alt="{{ product.prod_name }}" class="prod_img">

            <p>Fix this form (bellow)</p>
            <label for="quantity_{{ product.id }}">Quantity:</label><br>
                <input type="number"  value="1">
                <button onclick="addToCart({{ product.id }}, '{{ product.prod_name }}', {{ product.price }})">Add to Cart</button>
        </div>
         {% endfor %}
   </div>




<h2>Menu</h2>
{% for category, products in products_by_category.items %}
    <h4 id="{{category}}">{{ category }}</h4>
    <div class="category-products">
        {% for product in products %}
        <div class="product">
            <div id="prod_heading">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="Product Image" class="prod_img">
                {% else %}
                <p>No image available</p>
                {% endif %}

                <strong style="margin-left: 10px;">{{ product.prod_name }}</strong>
                <span> {{ product.prod_desc }}</span>
                <h5>£{{ product.price }}</h5>
            </div>

            <p>favorite: {{ product.favorite.count }}</p>

            {% if user.is_authenticated %}
            <form id="add_cart">
                <label for="quantity_{{ product.id }}">Quantity:</label>
                <input type="number" id="quantity_{{ product.id }}" min="1" max="{{ product.stock }}" value="1">
                <button onclick="addToCart({{ product.id }}, '{{ product.prod_name }}', {{ product.price }})">Add to Cart</button>

                {% if user in product.favorite.all %}
                <form action="{% url 'remove_favorite' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="submit" value="Remove from favorites">
                </form>
                {% else %}
                <br>
                <form action="{% url 'add_favorite' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="submit" value="Add to favorites">
                </form>
                {% endif %}
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endfor %}


<h2 style="margin-top:70px">Reviews</h2>
    <h4>Overall Rating is: {{ average_rating }} / 10</h4>

    <form id="review-form" method="post" action="{% url 'add_review' %}">
        {% csrf_token %}
        <h5>Send your feedback</h5>
    <label for="rating">Rating (1-10)</label>
    <input type="number" id="rating" name="rating" min="1" max="10" value="10" required>
    <textarea name="comment" placeholder="Your feedback"></textarea>
    <button type="submit" class="btn-submit">Submit Review</button>
    </form>

    <h4 style="margin-top: 50px;"> What our customers say</h4>

    {% for review in reviews %}
    <div class="product">

        <h5><strong> {{ review.person }}</strong></h5>
        <p><strong>Said:</strong> {{ review.comment }}</p>
        <p ><strong>On:</strong> {{ review.date }}</p>
        <h6>Rated: {{ review.rating }} / 10</h6>

    </div>
    {% endfor %}


<script>

    function goTo(category){
        targetCategory = document.getElementById(category);

        // Scroll to the target element
        targetCategory.scrollIntoView({ behavior: 'smooth' });

    }

</script>



{% endblock %}

