{% extends "rest_mng/layout.html" %}
{% load static %}

{% block body %}
<div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>

   <div id="best_sellers"><h1>Best Sellers, scrollable or auto scroll</h1></div>

{% if message %}
        <div>{{ message }}</div>
    {% endif %}

   <div id="categories"> Categories with big squares for each with image and heading, that takes to menu page to that category</div>
{% endblock %}

{% block script %}

{% endblock %}