{% load static %}

<! DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Rest. Manage{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'rest_mng/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation bar -->
        <nav class="nav">
            <!-- Hamburger button -->
            <button class="hamburger-btn">
                ☰
            </button>

            <ul id="nav_list">
                <li class="list_item">
                    <a class="list_link" href="{% url 'index' %}">Home </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="list_item">
                    <a class="list_link" href="{% url 'favorites' %}">Favorites </a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="list_item">
                    <a class="list_link" href="{% url 'history' %}">Order History </a>
                    </li>
                {% endif %}


                {% if user.is_authenticated %}
                <li class="list_item">
                    <a class="list_link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% endif %}

            </ul>



            {% if not user.is_authenticated %}
            <a class="list_link" href="{% url 'login' %}">Log In</a>
            {% endif %}


        </nav>



    <script>


        // Hamburger menu functionality
        const hamburgerBtn = document.querySelector('.hamburger-btn');
        const navList = document.getElementById('nav_list');

        hamburgerBtn.addEventListener('click', () => {
            navList.classList.toggle('show');
        });
    </script>


    {% block body %} {% endblock %}

        {% if user.is_authenticated %}
        <!-- Cart -->
        <div id="cart_btn">
            <img src="images/images/cart_icon.png" style="height:30px; width:30px; margin-top:20px;">
            <p>Cart</p>
        </div>
        <div id="cart" >
        <h2>Cart</h2>
            <ul id="cart-items"></ul>

            <button onclick="checkout()" id="checkout-button">Checkout</button>

            <!-- Display message if cart is empty-->
            <p id="empty-cart-message" style="display: none;">Your cart is empty!</p>

        </div>
        {% endif %}

<script src="static/rest_mng/cart_functionality.js"></script>
<script src="static/rest_mng/cart_toggle.js"></script>


    <footer>

        <div id="footer">
            <div class="footer_item">
                <h3>Opening hours</h3>
                <p>
                    Monday - Friday <br> 8am - 7pm <br>
                    Saturday - Sunday <br> 10am - 9pm
                </p>
            </div>
            <div class="footer_item">
                <h3>Address</h3>
                <p>Street name 23 <br> SS2 32SS <br> London, United Kingdom</p>
            </div>
            <div class="footer_item">
                <h3>Contact us</h3>
                <p>
                    For any enquiries, questions or suggestions <br>
                    You can e-mail us on customer_service@mail.com</p>
            </div>
        </div>

        <p style=" margin-bottom: 0px; margin-top:10px; text-align:center; border-top: 1px solid white; padding-top:10px;">Rest_mng . 2025 . Copyrights reserved</p>
    </footer>

        </body>
    </html>
