{% extends "rest_mng/layout.html" %}
{% load static %}

{% block body %}

    <!-- For log in/ register error messages-->
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <!-- This one is for dashboard error access -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if forloop.last %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

<div style="width:100%;  padding: 60px 30%; margin: 50px 0px;">
    <h2 style="margin-bottom: 40px;">Login</h2>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

</div>

{% endblock %}

{% block script %}

{% endblock %}